<%= partial "partials/header" %>
<%= partial "partials/navigation" %>
<h1>Stijn Eversdijk</h1>
<h2>Title on portfolio case</h2>
<h3>The challenge</h3>
<h4>From briefing to debrief</h4>
<!-- <p></p> -->
<span>Titles in aside</span>
<img class="small" />
<span class="caption">A caption goes here</span>
<img class="full-width" />
<ul>
  <li>items in aside</li>
  <li>interface design</li>
</ul>

<p>Since the moment Nike started with their Nike+ platform, I wanted to be a part of it. I bought shoes, sensors and wristbands, just so I could check my running activities and be a part of the Nike community. Even when I couldn’t use Nike’s shoes anymore, I didn’t want to switch to a different platform.
</p>

<p>For me, this was a great example of integrating technology within my daily life. It would give me something; the brand and the metrics. And I would give Nike something in return, my loyalty and money. Even tough it was only a <a href="#">pimped up</a> pedometer.
</p>
<p>Since the moment Nike started with their Nike+ platform, I wanted to be a part of it. I bought shoes, sensors and wristbands, just so I could check my running activities and be a part of the Nike community. Even when I couldn’t use Nike’s shoes anymore, I didn’t want to switch to a different platform.
</p>

<p>For me, this was a great example of integrating technology within my daily life. It would give me something; the brand and the metrics. And I would give Nike something in return, my loyalty and money. Even tough it was only a <a href="#">pimped up</a> pedometer.
</p>
<%= partial "partials/footer" %>