---
title: Welcome to Middleman
---


<div class="welcome">
  <%= data.content.home.title %>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->